html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0;
}

#mensajes .card {
  word-wrap: break-word;
  white-space: pre-wrap;
}

#chat-container {
  scroll-behavior: smooth;
}

#chat-container::-webkit-scrollbar {
  width: 8px;
}

#chat-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
